# requirements.txt (Version 5 - Final & Clean)

streamlit
google-generativeai
pinecone>=3.2.2,<4.0.0
langchain-pinecone
langchain-google-genai
langchain
langchain_community
notion-client
lark
python-dotenv
