# requirements.txt (Version 6 - Google Docs Integration)

streamlit
google-generativeai
pinecone>=3.2.2,<4.0.0
langchain-pinecone
langchain-google-genai
langchain
langchain_community
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
lark
python-dotenv